.container {
  max-width: 1280px; }

.header__up {
  height: auto; }
  @media (min-width: 768px) {
    .header__up {
      height: 60px; } }
  .header__up .row {
    height: auto; }
    @media (min-width: 768px) {
      .header__up .row {
        height: 60px; } }
  .header__up .nav-link {
    color: #6c757d;
    margin-top: 4px;
    font-family: Montserrat;
    font-size: 14px; }
    .header__up .nav-link.active {
      border-top: 4px solid #000000;
      margin-top: 0; }
    .header__up .nav-link.active:hover {
      border-top: 4px solid #000000; }
    .header__up .nav-link:hover {
      border-top: 4px solid rgba(0, 0, 0, 0.15);
      margin-top: 0; }
    .header__up .nav-link.disabled {
      border: none;
      margin-top: 4px;
      cursor: default; }

.charts {
  background: #fafafa;
  height: auto;
  border-top: none; }
  .charts .card {
    min-height: 240px; }
    .charts .card .card-title {
      text-align: center;
      font-weight: 500; }
    .charts .card .card-text {
      text-align: center;
      font-size: 12px; }
  .charts .box {
    padding: 1rem 0; }
    @media (min-width: 576px) {
      .charts .box {
        padding: 0; } }
    .charts .box__description {
      color: #313131;
      margin-top: 0;
      margin-left: 2px;
      font-family: Montserrat;
      font-size: 14px;
      line-height: 1; }
    .charts .box__paragraph {
      color: #6c757d;
      font-family: Montserrat;
      font-size: 13px; }
      .charts .box__paragraph--hashtags {
        color: #3598db; }
  .charts .card__info {
    min-height: 295px; }
    .charts .card__info .card-body {
      margin: 0 auto; }
      .charts .card__info .card-body .card-title {
        font-size: 52px; }
        .charts .card__info .card-body .card-title.apple-incs {
          font-size: 32px; }
    .charts .card__info .round-circle {
      border: 1px solid grey;
      border-radius: 50%;
      width: 80px;
      padding-left: 24px;
      height: 80px;
      padding-top: 18px; }
  .charts .tab-pane {
    background: #ffffff; }

.nav-tabs {
  width: 100%; }
  .nav-tabs .nav-link {
    background: #eeeeee;
    margin-left: 8px;
    color: #6c757d;
    padding: 0.8rem 2.8rem; }
    .nav-tabs .nav-link.active {
      color: #3598db; }

.tab-content {
  background: #ffffff; }

.card__reaches .card-body {
  flex: 0 0 auto;
  padding-bottom: 0; }
  .card__reaches .card-body .card-number {
    text-align: center;
    font-size: 42px; }

.card__reaches .social-list__items {
  list-style: none;
  padding: 0;
  text-align: center; }
  .card__reaches .social-list__items li {
    font-size: 14px; }
  .card__reaches .social-list__items img {
    vertical-align: text-top;
    padding-right: 10px; }

.card__reaches .progress-container {
  width: 100%;
  height: 0.7em;
  position: relative;
  background-color: #f1f1f1; }

.card__reaches .progressbar {
  height: 100%;
  position: absolute;
  line-height: inherit; }

.card__reaches .round-xlarge {
  border-radius: 16px !important; }

.facebook li {
  color: #3b5999; }

.facebook .progressbar {
  background-color: #3b5999; }

.twitter li {
  color: #55acef; }

.twitter .progressbar {
  background-color: #55acef; }

.instagram li {
  color: #fcaf45; }

.instagram .progressbar {
  background-color: #fcaf45; }

.youtube li {
  color: #cf2120; }

.youtube .progressbar {
  background-color: #cf2120; }

.social-list--engagement {
  float: right; }

.tables-data .card-body {
  padding: 0; }

.tables-data thead {
  background: #fafafa; }

.tables-data td {
  padding-top: 0.5rem;
  padding-bottom: 0; }

#chartjs-tooltip {
  opacity: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 5px 12px 3px 12px;
  border-radius: 3px;
  -webkit-transition: all .1s ease;
  transition: all .2s ease;
  pointer-events: none;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0); }
