.container {
  max-width: 1280px; }

.header__up {
  height: auto; }
  @media (min-width: 768px) {
    .header__up {
      height: 60px; } }
  .header__up .row {
    height: auto; }
    @media (min-width: 768px) {
      .header__up .row {
        height: 60px; } }
  .header__up .nav-link {
    color: #6c757d;
    margin-top: 4px;
    font-family: Montserrat;
    font-size: 14px; }
    .header__up .nav-link.active {
      border-top: 4px solid #000000;
      margin-top: 0; }
    .header__up .nav-link.active:hover {
      border-top: 4px solid #000000; }
    .header__up .nav-link:hover {
      border-top: 4px solid rgba(0, 0, 0, 0.15);
      margin-top: 0; }
    .header__up .nav-link.disabled {
      border: none;
      margin-top: 4px;
      cursor: default; }

.header__bottom {
  font-family: Montserrat;
  font-size: 12px;
  height: auto;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  background: #f6f6f6; }
  @media (min-width: 768px) {
    .header__bottom {
      height: 50px; } }
  .header__bottom .header__container {
    height: 100%; }
    .header__bottom .header__container .row {
      height: 100%; }
  .header__bottom--disabled {
    color: #cccccc; }
  .header__bottom .nav-link {
    cursor: default;
    pointer-events: none; }
  .header__bottom .header__title {
    color: #9c9c9c; }

.charts {
  background: #fafafa;
  height: 100vh; }
  .charts .card {
    min-height: 300px; }
    @media (min-width: 992px) {
      .charts .card {
        min-height: 250px; } }
    .charts .card .card-title {
      text-align: center;
      font-size: 42px;
      font-weight: 500;
      padding-top: 35px; }
    .charts .card .card-text {
      text-align: center;
      font-size: 18px;
      line-height: 1; }
    .charts .card .background-chart {
      position: absolute;
      bottom: 0px;
      width: 100%;
      height: 0;
      overflow: hidden;
      background-repeat: no-repeat;
      background-position: bottom;
      background-size: 100% auto;
      z-index: 1;
      padding-bottom: 29.21%;
      left: 0; }
      .charts .card .background-chart--1 {
        background-image: url(../img/chart-1.svg); }
      .charts .card .background-chart--2 {
        background-image: url(../img/chart-2.svg);
        padding-bottom: 28%; }
      .charts .card .background-chart--3 {
        background-image: url(../img/chart-3.svg);
        background-position: center;
        background-size: auto;
        padding-bottom: 2.95rem;
        top: 0; }
      .charts .card .background-chart--4 {
        background-image: url(../img/chart-4.svg); }
    .charts .card .card-body--line {
      max-height: 70px; }
      .charts .card .card-body--line .card-total {
        text-align: center;
        border-top: 1px solid #dddddd;
        color: #3598db;
        margin: 0;
        padding-top: 0.5rem;
        font-size: 18px;
        box-sizing: border-box; }
      .charts .card .card-body--line .chart-container {
        text-align: center;
        border-top: 1px solid #dddddd;
        margin: 0;
        padding-top: 0.5rem;
        font-size: 22px;
        box-sizing: border-box;
        position: relative; }
    .charts .card .card-body {
      height: 1px; }
      .charts .card .card-body .card-title--days {
        font-size: 18px; }
    .charts .card .social-list {
      border-top: 1px solid #dddddd;
      padding: 0.5rem; }
      .charts .card .social-list__items {
        list-style-type: none; }
        .charts .card .social-list__items li {
          float: left;
          padding-right: 1.5rem; }
  .charts .view-status .btn-primary {
    background-color: #3598db;
    border-color: #3598db; }
