.container {
	max-width: 1280px;
}
.header__up {
	height: auto;
	@media (min-width: 768px) {
		height: 60px;
	}
	.row {
		height: auto;
		@media (min-width: 768px) {
			height: 60px;
		}
	}
	.nav-link {
		color: #6c757d;
		margin-top: 4px;
		font-family: Montserrat;
		font-size: 14px;
		&.active {
			border-top: 4px solid #000000;
			margin-top: 0;
		}
		&.active:hover{
			border-top: 4px solid #000000;
		}
		&:hover {
			border-top: 4px solid rgba(0, 0, 0, 0.15);
			margin-top: 0;
		}

		&.disabled {
			border: none;
			margin-top: 4px;
			cursor: default;
		}
	}
}

.charts {
	background: #fafafa;
	height: auto;
	border-top: none;
	.card {
		min-height: 240px;

		.card-title {
			text-align: center;
			font-weight: 500;
		}
		.card-text {
			text-align: center;
			font-size: 12px;
		}
	}
	.box {
		padding: 1rem 0;
		@media (min-width: 576px) {
			padding: 0;
		}
		&__description {
			color: #313131;
			margin-top: 0;
			margin-left: 2px;
			font-family: Montserrat;
			font-size: 14px;
			line-height: 1;
		}
		&__paragraph {
			color: #6c757d;
			font-family: Montserrat;
			font-size: 13px;
			&--hashtags {
				color: #3598db;
			}
		}
	}
	.card__info {
		min-height: 295px;
		.card-body {
			margin: 0 auto;

			.card-title {
				font-size: 52px;

				&.apple-incs {
					font-size: 32px;
				}
			}
		}
		.round-circle {
			border: 1px solid grey;
			border-radius: 50%;
			width: 80px;
			padding-left: 24px;
			height: 80px;
			padding-top: 18px;
		}
	}

	.tab-pane {
		background: #ffffff;
	}
}

.nav-tabs{
	width: 100%;
	.nav-link {
		background: #eeeeee;
		margin-left: 8px;
		color: #6c757d;
		padding: 0.8rem 2.8rem;
		&.active {
			color: #3598db;
		}
	}
}

.tab-content {
	background: #ffffff;
}

.card__reaches {
	.card-body {
		flex: 0 0 auto;
		padding-bottom: 0;
		.card-number {
			text-align: center;
			font-size: 42px;
		}
	}

	.social-list__items {
		list-style: none;
		padding: 0;
		text-align: center;
		li {
			font-size: 14px;
		}
		img {
			vertical-align: text-top;
			padding-right: 10px;
		}
	}

	.progress-container {
		width: 100%;
		height: 0.7em;
		position: relative;
		background-color: #f1f1f1;
	}

	.progressbar {
		height: 100%;
		position: absolute;
		line-height: inherit;
	}

	.round-xlarge {
		border-radius: 16px !important;
	}
}

	.facebook {
			li {
				color: #3b5999;
			}
		.progressbar {
			background-color: #3b5999;
		}
	}
	.twitter {
		li {
			color: #55acef;
		}
		.progressbar {
			background-color: #55acef;
		}
	}
	.instagram {
		li {
			color: #fcaf45;
		}
		.progressbar {
			background-color: #fcaf45;
		}
	}
	.youtube {
		li {
			color: #cf2120;
		}
		.progressbar {
			background-color: #cf2120;
		}
	}

	.social-list--engagement {
		float: right;
	}

.tables-data {
	.card-body {
		padding: 0;
	}
	thead {
		background: #fafafa;
	}
	td {
		padding-top: 0.5rem;
		padding-bottom: 0;
	}
}

#chartjs-tooltip {
	opacity: 0;
	position: absolute;
	background: rgba(0, 0, 0, .6);
	color: white;
	padding: 5px 12px 3px 12px;
	border-radius: 3px;
	-webkit-transition: all .1s ease;
	transition: all .2s ease;
	pointer-events: none;
	-webkit-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
}