.container {
	max-width: 1280px;
}
.header__up {
	height: auto;
	@media (min-width: 768px) {
		height: 60px;
	}
	.row {
		height: auto;
		@media (min-width: 768px) {
			height: 60px;
		}
	}
	.nav-link {
		color: #6c757d;
		margin-top: 4px;
		font-family: Montserrat;
		font-size: 14px;
		&.active {
			border-top: 4px solid #000000;
			margin-top: 0;
		}
		&.active:hover{
			border-top: 4px solid #000000;
		}
		&:hover {
			border-top: 4px solid rgba(0, 0, 0, 0.15);
			margin-top: 0;
		}

		&.disabled {
			border: none;
			margin-top: 4px;
			cursor: default;
		}
	}
}
.header__bottom {

	font-family: Montserrat;
	font-size: 12px;
	height: auto;
	@media (min-width: 768px) {
		height: 50px;
	}
	border-top: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
	background: #f6f6f6;

	.header__container {
		height: 100%;
		.row {
			height: 100%;
		}
	}
	&--disabled {
		color: #cccccc;
	}
	.nav-link {

		cursor: default;
		pointer-events:none;

	}
	.header__title {
		color: #9c9c9c;
	}
}

.charts {
	background: #fafafa;
	height: 100vh;
	.card {
		min-height: 300px;

		@media (min-width: 992px) {
			min-height: 250px;
		}
		.card-title {
			text-align: center;
			font-size: 42px;
			font-weight: 500;
			padding-top: 35px;
		}
		.card-text {
			text-align: center;
			font-size: 18px;
			line-height: 1;
		}
		.background-chart {
			position: absolute;
			bottom: 0px;
			width: 100%;
			height: 0;
			overflow: hidden;
			background-repeat: no-repeat;
			background-position: bottom;
			background-size: 100% auto;
			z-index: 1;
			padding-bottom: 29.21%;
			left: 0;
			&--1{
				background-image: url(../img/chart-1.svg);

			}
			&--2{
				background-image: url(../img/chart-2.svg);
				padding-bottom: 28%;

			}
			&--3{
				background-image: url(../img/chart-3.svg);
				background-position: center;
				background-size: auto;
				padding-bottom: 2.95rem;
				top: 0;

			}
			&--4{
				background-image: url(../img/chart-4.svg);

			}
		}
		.card-body--line {
			max-height: 70px;
			.card-total {
				text-align: center;
				border-top: 1px solid #dddddd;
				color: #3598db;
				margin: 0;
				padding-top: 0.5rem;
				font-size: 18px;
				box-sizing: border-box;
			}
			.chart-container {
				text-align: center;
				border-top: 1px solid #dddddd;
				margin: 0;
				padding-top: 0.5rem;
				font-size: 22px;
				box-sizing: border-box;
				position: relative;
			}
		}
		.card-body {
			height: 1px;
			.card-title--days {
				font-size: 18px	;
			}
		}
		.social-list {
			border-top: 1px solid #dddddd;
			padding: 0.5rem;

			&__items {
				list-style-type: none;
				li {
					float: left;
					padding-right: 1.5rem;
				}
			}
		}
	}
	.view-status {
		.btn-primary {
			background-color: #3598db;
			border-color: #3598db;
		}
	}

}